.product-card {
    max-width: 400px;
    margin: 20px;
  }
  .product-image {
    margin: 0 auto;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Esto asegurará que la imagen se recorte para llenar el área definida */
  }